node_modules
dist
.vite
.DS_Store
*.local
.env
.env.*
**/.env
**/.env.*
!.env.example
!**/.env.example
.env.local
.expo
.vercel
web-build
*.log
expo.log
expo-error.log
backend-api.log
backend-api-error.log
